@import '../node_modules/bootstrap/scss/bootstrap.scss';
// --------------------

// COLOR PALETTE
// cold grey #e0e6e6
// warm grey #ecdec3
// orange #f18461
// yellow #f8bd45
// green #8ab661

// Definition of variables
$primary: #f18461; // is it working?
$danger: #32c3ff;

.border {
  border: 1px solid black;
}

.buttons {
  display: flex;
}

.box {
  width: 130px;
  margin-bottom: 20px;
}

.imgBox {
  position: relative;
  //display: inline-block;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boxText {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

.image {
  object-fit: cover;
  opacity: 0.35;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.button-ingredient {
  background-color: #e0e6e6;
  border-radius: 3px;
}

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------
// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 80px !important;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.category-button {
  background-color: #e2e7e8;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 4px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

.recipe-button {
  border-radius: 10px;
  border: 2px solid #8ab661;
  background-color: white;
  color: #8ab661;
  padding: 4px 16px;
  font-size: 16px;
  cursor: pointer;
}

.recipe-button:hover {
  opacity: 1;
  background-color: #8ab661;
  color: white;
}

.profile-picture {
  image: {
    width: 150;
    height: 150;
    overflow: 'hidden';
  }
}
