@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Hind:400,600&display=swap');
// --------------------

* {
  font-family: 'Hind', sans-serif;
  // border: red solid 1px;
}

h5 {
  letter-spacing: 2px;
}

// COLOR PALETTE
// cold grey #e0e6e6
// warm grey #ecdec3
// orange #f18461
// yellow #f8bd45
// green #8ab661

// Definition of variables
$primary: #f18461; // is it working?
$danger: #32c3ff;

.border {
  border: 5px solid black;
}

.buttons {
  display: flex;
}

.box {
  width: 130px;
  margin-bottom: 20px;
}

.imgBox {
  position: relative;
  //display: inline-block;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boxText {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 20%;
}

.image {
  object-fit: cover;
  // opacity: 0.5;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.add-ingredient {
  background: white;
  border: solid 2px #8ab661;
  border-radius: 10px;
  color: #8ab661;
  // font-weight: bold;
  align-items: center;
  height: 30px;
  width: 60px;
  margin: 5px;
}

.delete-ingredient {
  background: white;
  border: solid 2px #8ab661;
  border-radius: 10px;
  color: #8ab661;
  font-weight: bold;
}

.recipe-picture {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.recipe-profile-picture {
  // height: 40px;
  // width: 40px;
  // border-radius: 50%;
  // object-fit: 'cover'
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------
// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 60px !important;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.Home {
  p {
    font-size: 1.2em;
  }
}

.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.category-button {
  background-color: #e2e7e8;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 4px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

.recipe-button {
  border-radius: 10px;
  border: 2px solid #8ab661;
  background-color: white;
  color: #8ab661;
  padding: 4px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.my-recipe-text {
  font-size: 12px;
  color: #8ab661;
  padding-top: 5px;
}

.recipe-button-orange {
  border-radius: 10px;
  text-align: center;
  border: 2px solid #f18461;
  background-color: #f18461;
  color: white;
  padding: 4px 16px;
  font-size: 16px;

  cursor: pointer;
  transition: 0.3s;
}

.my-recipe-button:hover {
  opacity: 1;
  background-color: #8ab661;
  color: white;
}

.recipe-button:hover {
  opacity: 1;
  background-color: #8ab661;
  color: white;
}

.recipe-card-special-button {
  border-radius: 10px;
  border: 2px solid #8ab661;
  background-color: #f7f7f7;
  color: #8ab661;
  // padding: 4px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.recipe-card-button {
  border-radius: 10px;
  border: 2px solid #8ab661;
  background-color: #f7f7f7;
  color: #8ab661;
  // padding: 4px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.recipe-card-button:hover {
  opacity: 1;
  background-color: #8ab661;
  color: #f7f7f7;
}

.delete-button-details-page {
  border-radius: 10px;
  text-align: center;
  border: 2px solid #aa4141;
  background-color: #aa4141;
  color: white;
  padding: 4px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button {
  border-radius: 10px;
  text-align: center;
  border: 2px solid #aa4141;
  background-color: white;
  color: #aa4141;
  padding: 4px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover {
  opacity: 1;
  background-color: #aa4141;
  color: white;
}

.upload-button {
  border-radius: 10px;
  background-color: #cad1d1;
  padding: 4px 16px;
  font-size: 16px;
  cursor: pointer;
}

.profile-picture {
  image: {
    width: 150;
    height: 150;
    overflow: 'hidden';
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}

@mixin background-size($size: cover) {
  background-size: $size;

  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
}

#table-food {
  @include parallax-background(
    '/images/bread-cheese-cheese-platter-1893609.jpg'
  );
}

#food-photography {
  @include parallax-background(
    '/images/blur-blurred-background-brunch-693267.jpg'
  );
}

#table-food,
#food-photography {
  width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-3px);
  overflow-x: hidden;
  overflow-y: auto;

  h1 {
    transform: translateZ(-3px);
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.06em;
    font-size: 150px;
    color: #fff;
    text-align: center;
  }
}

p {
  width: 70%;
  padding: 5%;
  margin: 0px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
}

footer {
  background-color: #e0e6e6;
  color: rgb(29, 28, 28);
}

.homepage-button {
  border-radius: 10px;
  color: #f7f7f7;
  background-color: #8ab661;
  padding: 4px 16px;
  font-size: 16px;
  position: relative;
}

.testimonial {
  background-color: #8ab661;
  color: white;
}

.footer-div {
  background-color: #8ab661;
}

.img-square-wrapper {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  width: 50%;
}
